{% extends "base.html" %}
{% block title_prefix %}Micromouse Competition - {% endblock %}

{% block body %}

<div class="hero-image-competition">
<div class="hero-text">
    <h1 class="display-3"><b>2020 Virtual Micromouse Competition</b></h1>
</div>
</div>

<div class="container my-4 py-4">
    <h2 class="text-center my-4"><b>2020 Princeton Virtual Micromouse Competition</b></h2>
    <p class="fw-light mt-4 pt-2">Public health measures led us to cancel our in-person competition scheduled for April, so we decided to make our competition virtual and hold it in the fall!</p>
    <p class="fw-light my-2 py-1">Registration Deadline: October 21, 2020</p>
    <p class="fw-light mb-4 pb-2">Algorithm submission deadline: November 20, 2020</p>

    <br>
    <hr>
    <br>

    <h4 class="my-4"><b>Competition Results</b></h4>
    <p class="fw-light mt-4 pt-2">Congratulations to the team from Drexel University for winning the 2020 micromouse competition! This year’s competition mazes can be found at <a href="https://drive.google.com/drive/folders/1yQTbvhs0XfgNZiq_bOrhneEe8RhoY1kQ?usp=sharing">this link</a>.</p>
    <br>
    <h4 class="my-4"><b>Competition Overview</b></h4>
    <ul>
        <li><p class="fw-light mt-4 pt-2">Each team submits a maze-solving algorithm, written in any of the allowable programming languages (currently Python 3 and C++).</p></li>
        <li><p class="fw-light mt-4 pt-2">There will be a time limit to solve the maze, where each movement or turn consumes a certain amount of time.</p></li>
        <li><p class="fw-light mt-4 pt-2">A team’s score is based on both its fastest start-to-finish run and its overall time consumption.</p></li>
        <li><p class="fw-light mt-4 pt-2">There will be a few competition mazes, and every team will be tasked to solve all the mazes.</p></li>
        <li><p class="fw-light mt-4 pt-2">Competition mazes will not be released until all teams submit their algorithms, but practice mazes will be made available.</p></li>
        <li><p class="fw-light mt-4 pt-2">Generally follows the rules of the IEEE’s Micromouse competition (though not an IEEE sponsored event), although many adaptations are made for the virtual format.</p></li>
        <li><p class="fw-light mt-4 pt-2">The maze consists of a 16x16 grid of tiles</p></li>
        <li><p class="fw-light mt-4 pt-2">The bottom-left tile is the start and the center 4 tiles are the finish. </p></li>
        <li><p class="fw-light mt-4 pt-2">Unlike our in-person micromouse competition, there will be no design presentation or design award.</p></li>
        <li><p class="fw-light mt-4 pt-2">Teams with the best scores will be streamed live on competition day. The date is TBD but will likely be a weekend in October or November.</p></li>
        <li><p class="fw-light mt-4 pt-2">Algorithm submission deadline: One week before competition day</p></li>
    </ul>

    <br>
    <hr>
    <br>

    <h4 class="my-4"><b>Official Rules</b></h4>
    <p class="fw-light mt-4 pt-2"><a href="https://bear-ruby-g87f.squarespace.com/s/virtual-micromouse-Rules.pdf">Official rules may be found here</a>. They were released on June 20, 2020. Rules are subject to minor changes.</p>
    <br>
    <hr>
    <br>

    <h4 class="my-4"><b>Simulator</b></h4>
    <p class="fw-light mt-4 pt-2">The simulator is now available as of July 31st.</p>
    <p class="fw-light mt-4 pt-2">A virtual machine for the simulator has been developed, and it can be run using <a href="https://www.virtualbox.org/">VirtualBox</a>. This is the easiest way to get started. The virtual machine is available <a href="https://drive.google.com/file/d/10fZHKtk7GmxGDcAhDW50lvJEZkvHD5Ox/view?usp=sharing">here</a>. The simulator can be launched with the desktop shortcut named “mms”.</p>
    <p class="fw-light mt-4 pt-2">If the simulator runs slowly on the virtual machine, participants can also install the simulator on their own machines. However, they must ensure their programs work on the virtual machine before submitting. To install the simulator, first clone or download <a href="https://github.com/zdasaro/mms-competition-proxy">this repository</a> and then follow the instructions in the readme.</p>
    <br>
    <hr>
    <br>

    <h4 class="my-4"><b>Sample Mazes</b></h4>
    <p class="fw-light mt-4 pt-2">Three sample mazes are available <a href="https://drive.google.com/drive/folders/13wcg7IBsudvjpMxPx66rOx4QH3Xz9Ihi?usp=sharing">here</a> for download, as of October 21st. The competition mazes will resemble the characteristics of these sample mazes and will have a similar number of walls.</p>
    <br>
    <hr>
    <br>

      
</div>
    

{% endblock %}
