{% extends "base.html" %}
{% block title_prefix %}Join - {% endblock %}

{% block body %}

<div class="hero-image-join">
<div class="hero-text">
    <h1 class="display-3"><b>Join</b></h1>
    <h1 class="display-6"><b><small>JOIN THE CLUB!</small></b></h1>
</div>
</div>

<div class="container my-4 pt-4">
    <h4 class="fw-light">You can build a robot. It’s not as hard as you might think, and it’s especially easy and fun when you’re a part of a team.</h4>
    <br>
    <div class="row align-items-center">
        <div class="col-md-6 p-4">
            <h1 class="display-6 text-center"><span style="font-size: 24px;">Join</span></h1>
            <p class="fw-light text-center">Joining is as simple as letting us know that you’re interested. Princeton University undergraduate students from all majors and years can join. There are no pre-reqs or tests to get into the club. In fact, most of our officers had never built a robot before being in the club. So just send us an email using the link below saying you’re interested in joining. We’ll help you find your place in the club.<p>
            <div class="row align-items-center my-4"><div class="col d-flex justify-content-center"><a type="button" class="btn btn-outline-dark text-center" href="mailto:robot@princeton.edu">JOIN</a></div></div>
        </div>
        <div class="col-md-6 p-4">
            <h1 class="display-6 text-center"><span style="font-size: 24px;">Supporters</span></h1>
            <p class="fw-light text-center">If you’re an organization that would like to help us build robots and follow our dreams, click the button below to go to our Supporters page.<p>
            <div class="row align-items-center my-4"><div class="col d-flex justify-content-center"><a type="button" class="btn btn-outline-dark text-center" href="/supporters/">SUPPORT US</a></div></div>
        </div>
    </div>

    <br>
    <br>
    <h1 class="display-6 text-center">Have Any Lingering Questions?</h1>
    <br>
    <p class="fw-light text-center">If you have any questions, just send us an email at <a href="mailto:robot@princeton.edu">robot@princeton.edu</a>.</p>
    <br>
</div>

{% endblock %}
