{% extends "base.html" %}
{% block title_prefix %}Leadership - {% endblock %}

{% block body %}

<div class="hero-image-leadership">
<div class="hero-text">
    <h1 class="display-3"><b>Leadership</b></h1>
</div>
</div>

<div class="container my-4 pt-4">
    <h1 class="display-6 text-center py-2">Our Team</h1>
    <h1 class="display-6 text-center py-2"><span style="font-size: 20px;">Our leadership team is a bunch of undergraduates who are passionate about building robots and teaching anyone who’s interested how to build the future.</span></h1>

    <div class="row">
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/Caio.jpg') }}" height=220>
            <p class="fw-dark mb-2">Caio Costa</p>
            <p class="fw-light mb-0">Club Co-President</p>
            <p class="fw-light">Co-Leader of the Micromouse Competition Teams</p>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/joseph.jpg') }}" height=220>
            <p class="fw-dark mb-2">Joseph Feng</p>
            <p class="fw-light mb-0">Club Co-President</p>
            <p class="fw-light">Co-Leader of the Autonomous Drone Team</p>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/Zak.jpg') }}" height=220>
            <p class="fw-dark mb-2">Zak Dasaro</p>
            <p class="fw-light">Micromouse Competition Coordinator</p>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/michelle.jpg') }}" height=220>
            <p class="fw-dark mb-2">Michelle Ho</p>
            <p class="fw-light mb-0">Club Training/Technology Officer</p>
            <p class="fw-light">Droid Team Mechanical Sub-Team Leader</p>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/albert.jpg') }}" height=220>
            <p class="fw-dark mb-2">Albert Lin</p>
            <p class="fw-light">Co-Leader of the Micromouse Competition Teams</p>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/john.jpg') }}" height=220>
            <p class="fw-dark mb-2">John Ahloy</p>
            <p class="fw-light">Co-Leader of the Micromouse Competition Teams</p>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <p class="fw-dark mb-2">Robert Shi (not pictured)</p>
            <p class="fw-light mb-0">Club Treasurer</p>
            <p class="fw-light">Co-Leader of the Autonomous Drone Team</p>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <h1 class="display-6 text-center py-2">Our Advisers</h1>
    <div class="row">
        <div class="col-md-6 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/majumdar.jpg') }}" height=220>
            <p class="fw-dark mb-2">Prof. Anirudha Majumdar</p>
            <p class="fw-light">Prof. Majumdar's research is in controlling highly agile robotic systems such as unmanned aerial vehicles, with formal guarantees on their safety and performance.</p>
        </div>
        <div class="col-md-6 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/lyon.png') }}" height=220>
            <p class="fw-dark mb-2">Prof. Stephen Lyon</p>
            <p class="fw-light">Professor Lyon’s research is in optical processes in semiconductors, ultrafast processes and nonequilibrium transport, semiconductor nanostructures, and quantum computing.</p>
        </div>
        <div class="col-md-6 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/august.jpg') }}" height=220>
            <p class="fw-dark mb-2">Prof. David August</p>
            <p class="fw-light">Prof. August’s research is in computer architecture; languages, compilers, and run-time systems; parallelism; programmability, performance, efficiency, reliability, and security.</p>
        </div>
        <div class="col-md-6 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='leadership/wang.png') }}" height=220>
            <p class="fw-dark mb-2">Changyan Wang</p>
            <p class="fw-light mb-0">Graduate Advisor</p>
            <p class="fw-light">Former Club Treasurer (2017-2018)</p>
        </div>
    </div>

    <br>
    <hr>
    <br>

    <h1 class="display-6 text-center py-2">Former Leadership</h1>
    <br>
    <div class="row">
        <div class="col-6">
            <p class="fw-light mb-2">Sam Dale (President, 2019-2020)</p>
            <p class="fw-light mb-2">Chris Ye (Treasurer, 2019-2020)</p>
            <p class="fw-light mb-2">Harsh Babla (Outreach Officer)</p>
            <p class="fw-light mb-2">Whitney Huang (President, 2017-2018)</p>
        </div>
        <div class="col-6">
            <p class="fw-light mb-2">Katherine Denner (Technology Chair)</p>
            <p class="fw-light mb-2">Jamil Merali (Co-President, Treasurer 2015 - 2016)</p>
            <p class="fw-light mb-2">Eric Principato (President, 2013-2014 and 2014-2015)</p>
            <p class="fw-light mb-2">Mike Wang (President, 2013-2014)</p>
        </div>
    </div>
    <br>

</div>

{% endblock %}
