{% extends "base.html" %}
{% block title_prefix %}Projects - {% endblock %}

{% block body %}

<div class="hero-image-projects">
<div class="hero-text">
    <h1 class="display-3"><b>Projects</b></h1>
</div>
</div>
    
<div class="container my-4 pt-4">
    <h1 class="display-4"><span style="font-size: 32px;">Our Mission</span></h1>
    <p class="fw-light">We build robots. Our goal is to give Princeton students a space to learn about robotics whether they come in with no experience at all or have been building robots for years. Through workshops, competitions, and advising, we hope to help anyone and everyone get closer to being to be able to build their dream robot.<p>

    <br>
    <hr>
    <br>

    <h1 class="display-4"><span style="font-size: 32px;">Our Current Projects</span></h1>
    <div class="row">
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='projects/micromouse.jpg') }}" height=220>
            <h1 class="display-6 my-4"><span style="font-size: 24px;">MicroMouse Maze Solving Teams</span></h1>
            <ul>
                <li><p class="fw-light mt-4 pt-2">For the 2020-2021 school year, we will be shifting to a virtual format for the micromouse project. See the 2020 competition <a href="/2020-virtual-micromouse-competition/">page</a> for more details.</p></li>
                <li><p class="fw-light mt-4 pt-2">Autonomous maze solving robot.</p></li>
                <li><p class="fw-light mt-4 pt-2">Follows the rules of the IEEE’s micromouse competition.</p></li>
                <li><p class="fw-light mt-4 pt-2">Constraints: under $500, smaller than 20cm x 20cm x 20cm</p></li>
                <li><p class="fw-light mt-4 pt-2">The maze: 16x16 unit squares, each unit square is 16.8 cm x 16.8 cm (not including the thickness of the walls). The walls of the maze are 5 cm high and 1.2 cm thick.</p></li>
                <li><p class="fw-light mt-4 pt-2">The center of the maze (2x2 unit cells of empty space at the center) is the goalpoint.</p></li>
                <li><p class="fw-light mt-4 pt-2">Each robot is allotted 12 minutes in the maze. The objective is to have the shortest time from start to finish. The timing starts when the robot leaves the first unit square and ends once it is at the center of the maze.</p></li>
            </ul>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='projects/drone.jpg') }}" height=220>
            <h1 class="display-6 my-4"><span style="font-size: 24px;">Autonomous Drone Teams</span></h1>
            <ul>
                <li><p class="fw-light mt-4 pt-2">For the 2020-2021 school year, software activities will largely remain the same as previous years. On the hardware side, there is also a possibility for virtual workshops on soldering and drone DIY basics.</p></li>
                <li><p class="fw-light mt-4 pt-2">Using the MAAXX competition as a model, the goal will be to have an autonomous drone fly around a red-tape racetrack either the fastest or for the longest endurance.</p></li>
                <li><p class="fw-light mt-4 pt-2">Create the control system for an autonomous drone that can stay fixed in place while being blown randomly by fans for the longest amount of time possible.</p></li>
                <li><p class="fw-light mt-4 pt-2">Using the IROS Competition as a model, build an autonomous drone that can navigate through an obstacle course of square hoops (situated at different heights and angles).  </p></li>
                <li><p class="fw-light mt-4 pt-2">Compete in the AUVSI IARC autonomous drone competition Mission 8, building four autonomous drones that can be commanded with gestures, beam a video feed to a human, avoid obstacles and interact as a swarm, shoot healing lasers at the human player as enemy drones shoot lasers at the player.</p></li>
            </ul>
        </div>
        <div class="col-lg-4 px-4 my-4">
            <img style="object-fit: cover;" class="mb-4" src="{{ url_for('static', filename='projects/bb8_3.jpg') }}" height=220>
            <h1 class="display-6 my-4"><span style="font-size: 24px;">BB-8 Droid Team</span></h1>
            <ul>
                <li><p class="fw-light mt-4 pt-2">For the 2020-2021 school year, we will be on hold due to the nature of the project. </p></li>
                <li><p class="fw-light mt-4 pt-2">Working to build a life-size, fully functional BB-8 droid from the “Star Wars” movies</p></li>
                <li><p class="fw-light mt-4 pt-2">serves as a way for members to learn essential skills like 3D printing, soldering, and working with Arduinos through an advanced project that grants room to grow</p></li>
                <li><p class="fw-light mt-4 pt-2">Droid will be constructed mostly from 3d printed, custom made, and off-the-shelf parts according to the public drive system used</p></li>
                <li><p class="fw-light mt-4 pt-2">Mechanical sub-team deals with 3D printing, drive system + sphere construction, and </p></li>
                <li><p class="fw-light mt-4 pt-2">Electrical sub-team handles wiring of the Arduinos, motors, servos, lights, and more house inside the BB-8, as well as implementing the existing code to control the droid</p></li>
                <li><p class="fw-light mt-4 pt-2">The end goal is to have a movie accurate BB-8 that can be used for community outreach purposes</p></li>
            </ul>
        </div>
    </div>
    <p class="fw-light">In addition to the projects listed above, there will be club-wide virtual workshops as a result of the virtual 2020-2021 school year.<p>

    <br>
    <hr>
    <br>

    <h1 class="display-4"><span style="font-size: 32px;">Past Projects</span></h1>
    <h1 class="display-6 my-4"><span style="font-size: 24px;">2017-18 Brown (MicroMouse) Teams</span></h1>
    <ul>
        <li><p class="fw-light mt-4 pt-2">Bot-the Builders</p></li>
        <li><p class="fw-light mt-4 pt-2">Team Teensy</p></li>
        <li><p class="fw-light mt-4 pt-2">Team Begin</p></li>
    </ul>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/1.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/2.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/3.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/4.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/5.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/6.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/7.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/8.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/9.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/10.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/11.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/12.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/13.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/14.jpg') }}" height=220 width=220>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 m-2">
            <img style="object-fit: cover;" src="{{ url_for('static', filename='projects/15.jpg') }}" height=220 width=220>
        </div>
    </div>

    <h1 class="display-6 my-4"><span style="font-size: 24px;">2016-17 Brown (Micromouse) Team</span></h1>
    <p class="fw-light">The rebooted club sent a team to the 2017 Brown Robotics Competition.<p>

    <h1 class="display-6 my-4"><span style="font-size: 24px;">2014 Brown (Micromouse) Teams</span></h1>
    <p class="fw-light">The two teams that went to the 2014 Brown Robotics Competition, placing 3rd and 5th out of 12 teams.<p>




</div>

{% endblock %}
